@model GitGardens.Models.EditGarden

@{
    ViewData["Title"] = "Edit Garden";
}

<div class="container mt-5">
    <h2 class="text-center">Create A New Garden</h2>

    <div class="card shadow-sm p-4">

        <form asp-action="EditGarden" method="post" class="row g-3">

            <input type="hidden" asp-for="GardenID" />

            <!-- Garden Name -->
            <div class="mb-3">
                <label class="metric-label">Garden Name</label>
                <input asp-for="GardenName" class="form-control" 
                       required/>
                <span asp-validation-for="GardenName" class="text-danger"></span>
            </div>

            <!-- Decsription of Garden -->
            <div class="mb-3">
                <label class="metric-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <!-- Actions -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a class="btn btn-danger" asp-action="GardenList" asp-controller="Garden">Cancel</a>
            </div>

        </form>
    </div>
</div>

@*
   Title: ASP.NET 8 MVC Tutorial for Beginners - C# web development made easy  
   Operations Using Entity Framework Core and SQL Server  
   Author: tutorialsEU  
   Date: 1 years ago
   Date Accessed: 27/03/26
   Code version : 1  
   Availability: https://youtu.be/xuFdrXqpPB0?feature=shared
*@

@*
   Title: Form Validations In ASP.NET Core Razor Pages
          - Model Validations In Razor Pages C   
   Author: Sameer Saini  
   Date: 2 years ago
   Date Accessed: 27/03/26
   Code version : 1  
   Availability: https://youtu.be/PtzH6vu91e8?feature=shared
*@
